*{
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}
/*@ link https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form*/

main {
    display: flex;
    justify-content: center;
}

.container {
        border-radius: 5px;
        background-color:aliceblue;
        padding: 20px;
        width: 700px;
        align-items: center;
    }
    
  
  input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  
  }
.todoform { 
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
}

h1,h2{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    color: teal;    
    text-align: center;   
}
#addTask, #cTask { 
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
   
    
}

/*ul.emptyList {

    list-style: none;

    padding: 0; 

}*/
ul {
    margin: 10px 0;
    list-style: disc;
    padding: 0 20px;
}
ul li {
    margin: 5px 0;
    
}
.delete {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  #listError {           /*@ link https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form*/

    font-size: 15px;
    margin: 10px 0;
    color: red;
    font-weight: bold;
    padding: 10px;

}